<section class="container hide" id="about">
  <div class="span10 bottomBox">
    <article class="row">
      <%= image_tag "polaroid1.png", :class => "span3" %>
      <div class="sectionText span7">
        <h2>Company</h2>
        <h3>Paper forms, checks sent to school, parent meetings....today, like decades before, school trips take a lot of work. Creative teachers and eager students have a whole world to explore. Educators, travelers, and experienced travel companies use edtrips to expand their learning beyond the classroom.</h3>
      </div>
    </article>
    <article class="row">
      <div class="sectionText span7">
        <h2>Product</h2>
        <h3>Edtrips provides a feature-rich and easy-to-use experience driven by the needs of educators and travelers. From a discovery engine where users find new travel ideas and opportunities, to clear and understandable account info, to secure payments and authorization forms, edtrips has a versatile product for a variety of trips geared toward a wide range of travelers.</h3>
      </div>
      <%= image_tag "polaroid2.png", :class => "span3" %>
    </article>
    <article class="row">
      <%= image_tag "polaroid3.png", :class => "span3" %>
      <div class="sectionText span7">
        <h2>Team</h2>
        <h3>We, like so many others we know, owe so much of our personal growth to eye-opening travel. We came together to encourage and facilitate school trips for as many other individuals as possible. We love our work and we love talking to travelers, trip organizers, and professional travel agencies as often as possible to make sure we get edtrips right. We'd love to meet you.</h3>
      </div>
    </article>
  </div>
</section>