<section class="container" id="about">
	<div class="span10 bottomBox">
		<h1>About edtrips</h1>
		<article class="row">
			<img src="" class="span2 img-polaroid" />
			<h3 class="aboutText span8">This is about us</div>
		</article>
		<article class="row">
			<img src="" class="span2 img-polaroid" />
			<h3 class="aboutText span8"></h3>
		</article>
	</div>
</section>