<section class="container" id="preview">
	<div class="span10 bottomBox">
		<h1>Preview</h1>
		<article>
			<img src="" class="span2" />
			<h3 class="aboutText span8"></div>
		</article>
	</div>
</section>