<section class="container hide" id="preview">
  <div class="span10 bottomBox">
  	<h1>Preview</h1>
    <article>
      <h3>Coming soon!</h3>
    </article>
  </div>
</section>

<section class="container hide" id="about">
	<div class="span10 bottomBox">
		<h1>About us</h1>
		<h3>Coming soon!</h3>
	</div>
</section>