#bg_image_overlay {
	position: fixed;
	top: 0;
	left: 0;
	background: transparent url("/assets/overlay.png") repeat;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
}

body {
	padding-top:0px;
}

h1, h2, h3, input, button {
  font-family: "museo-slab";
}

h1 {
	font-weight:700;
	font-size: 26pt;
}

h2 {
	font-weight:500;
	font-size: 18pt;
	line-height: 24pt;
}

h3, input, button {
	font-weight:300;
	font-size: 15pt;
	line-height:21pt;
}

p {
	font-family: "museo-sans";
	font-weight:500;
	font-size: 12pt;
	line-height: 16pt;
}

h1, h2 {
	color:#00a0dd;
}

h3, p {
	color:#58585b
}

a {
	color:#a3d55d;
}

a:hover {
	color:#ee9a4d;	
}

.btn-custom.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f2831b;
  background-image: -moz-linear-gradient(top, #f98d29, #e87307);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f98d29), to(#e87307));
  background-image: -webkit-linear-gradient(top, #f98d29, #e87307);
  background-image: -o-linear-gradient(top, #f98d29, #e87307);
  background-image: linear-gradient(to bottom, #f98d29, #e87307);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff98d29', endColorstr='#ffe87307', GradientType=0);
  border-color: #e87307 #e87307 #9e4e04;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e87307;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.disabled,
.btn-custom[disabled] {
  color: #ffffff;
  background-color: #e87307;
  *background-color: #d06706;
}
.btn-custom:active,
.btn-custom.active {
  background-color: #b75b05 ;
}

.btn-custom-darken.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-darken {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #9ad14d;
  background-image: -moz-linear-gradient(top, #a3d55d, #8ccb34);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a3d55d), to(#8ccb34));
  background-image: -webkit-linear-gradient(top, #a3d55d, #8ccb34);
  background-image: -o-linear-gradient(top, #a3d55d, #8ccb34);
  background-image: linear-gradient(to bottom, #a3d55d, #8ccb34);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa3d55d', endColorstr='#ff8ccb34', GradientType=0);
  border-color: #8ccb34 #8ccb34 #628e25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #8ccb34;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-darken:hover,
.btn-custom-darken:focus,
.btn-custom-darken:active,
.btn-custom-darken.active,
.btn-custom-darken.disabled,
.btn-custom-darken[disabled] {
  color: #ffffff;
  background-color: #8ccb34;
  *background-color: #7eb62f;
}
.btn-custom-darken:active,
.btn-custom-darken.active {
  background-color: #70a22a ;
}

//Begin style rules for individual sections
header img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

header img {
	width:300px;
	height:auto;
	margin:20px auto;
}

header h1 {
	text-align:center;
}

header {
	background: -moz-linear-gradient(top,  rgba(14,144,197,1) 0%, rgba(43,185,218,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,144,197,1)), color-stop(100%,rgba(43,185,218,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(14,144,197,1) 0%,rgba(43,185,218,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(14,144,197,1) 0%,rgba(43,185,218,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(14,144,197,1) 0%,rgba(43,185,218,0.6) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(14,144,197,1) 0%,rgba(43,185,218,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e90c5', endColorstr='#992bb9da',GradientType=0 ); /* IE6-9 */
	 /* IE6-9 */
	padding:0px;
}

div.hero {
	background: transparent url("/assets/white_wall_hash.jpg") repeat;
	border-radius:5px;
	margin-bottom:40px;
	padding:10px 20px;
	margin-left:5%;
	margin-right:auto;
}

.headertext, .headerbuttons {
	float:left;
	margin-left:10px;
	width:48%;
}

header .btn {
	margin:20px auto;
	height:60px;
	width:100%;
	font-size:18pt;
	line-height: 24pt
}

//navbar styling
.arrow-down { 
   width: 0; 
   height: 0;
   border-top: 35px solid rgba(43,185,218,.6);
   border-left: 30px solid transparent; 
   border-right: 30px solid transparent;
   margin-top:-10px;
   margin-left:18%;

}





nav {
	border-bottom:3px dashed #58585b;
	width:100%;
}

.navbar-inner {
	background:transparent;
	border:none;
}

ul.nav {
	text-align:center;
	display:block;
	margin:10px auto 10px;
	width:300px;
}

ul.nav li {
	font-family: "museo-slab";
	font-weight: 500;
	font-height: 18pt;
	display:inline-block;
	width:100px;
}

.nav-pills > li > a {
	font-size: 15pt;
	text-decoration: underline;
}

.nav-pills > li > a:hover {
	background-color: transparent;
}

nav {
	background: transparent url("/assets/lined-paper.jpg");
	background-position:25% 18%;
	background-color:transparent;
}

//footer styles

nav p {
	color:#00a0dd;
	margin-top:50px;
	width:160px;
	float:left;
	display:inline-block;
}

.socialB {
	width:32px;
	height:32px;
	border-radius:5px;
	margin-left:10px;
}

.social {
	background-color:transparent;
	float:right;
	width:200px;
	margin-bottom:10px;
	display:inline-block;
	position:fixed;
	bottom:0;
	right:0;
}

#facebook {
	background:url('facebook.jpg');
	background-position:center center;
}

#twitter {
	background:url('twitter.jpg');
	background-position:center center;
}

#linkedin {
	background:url('linkedin.jpg');
	background-position:center center;
}

#pinterest {
	background:url('pinterest.jpg');
	background-position:center center;
}

.bottomBox {
	background: transparent url("/assets/white_wall_hash.jpg") repeat;
	border-radius: 5px;
	height:500px;
	margin-top:200px;
	margin-bottom:50px;
	margin-left:5%;
	margin-right:auto;
	padding:10px 20px;
}
