<header>
  <div class="container">
    <img alt="edtrips logo">
    <h1>Teachers use edtrips.com to plan and manage group travel</h1>
    <button href="#myModal" role="button" class="btn btn-primary btn-custom" data-toggle="modal">Get notified when we launch</button>

    <h2>We love new friends and new experiences.</h2>
    <button class="btn btn-primary btn-custom-darken" data-target="#yourModal" role="button" data-toggle="modal">Contact us</button>
    <p>Or just email us at contact@edtrips.com</p>

</header>

<nav>
    <ul>
      <li>About Us</li>
      <li>Home</li>
      <li>Sneak preview</li>
    </ul>
</nav>

<section>
  <div class="row">
    <img alt="This is an image for about us">
    <p>This is info about us</p>
  </div>
</section>

<section>
  <div class="row">
    <img alt="This is an image of the app">
    <p>Here's how the explore feature works</p>
  </div>
</section>



<footer>
  <div>copyright and that nonsense</div>
</footer>
