<header>
    <div class="container">
      <img alt="edtrips logo" src="assets/horizontal-white.png">
      <div class="hero span10 offset1">
        <div class="row">
          <h1 class="span4">Teachers use edtrips.com to plan and manage group travel</h1>
          <div class="span6">
            <button href="#myModal" role="button" class="btn btn-primary btn-custom" data-toggle="modal" id="main-call">Sign up for notifications</button>
            
            <button class="btn btn-primary btn-custom-darken" data-target="#yourModal" role="button" data-toggle="modal">Contact us</button>
          </div>
      </div>
    </div>
</header>

<nav>
  <div class="navbar-inner">
    <ul class="nav nav-pills">
      <li><a href="#about">About</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="#preview">Preview</a></li>
    </ul>
  </div>
</nav>
<!--
<section>
  <div class="row">
    <img alt="This is an image for about us">
    <p>This is info about us</p>
  </div>
</section>

<section>
  <div class="row">
    <img alt="This is an image of the app">
    <p>Here's how the explore feature works</p>
  </div>
</section>
-->


<footer>
  <div class="container">
    <div class="navbar navbar-fixed-bottom bottom">
        <a href="/"><img alt="smaller version of the logo" src="assets/logo-reversed.png"></a>
        <p>&copy; edtrips.com</p>
    </div>
  </div>
</footer>
